@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
}
/* Untuk Chrome, Safari, dan browser berbasis WebKit lainnya */
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Untuk Internet Explorer, Edge */
.hide-scrollbar {
  -ms-overflow-style: none;
}

/* Untuk Firefox */
.hide-scrollbar {
  scrollbar-width: none;
}

@keyframes blink {
  0%, 100% { opacity: 1; }
  50% { opacity: 0; }
}

.animate-blink {
  animation: blink 1s infinite;
}
